@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

$primary-color:#038C33;
$secondary:#1F6036;
$darkgreen:#003412;
$max-w:100%;
$lato:'Lato', sans-serif;
$poppins:'Poppins', sans-serif;